<div class="row-contato">
    <div class="contato-background">
      <div class="sobre"> 
        
      </div>

      <h1>Sobre nós:</h1>
        <p>
          Formado na periferia da zona sul da cidade de São Paulo, o grupo Tomada Periférica é fruto de um desejo coletivo de contar histórias.
          A origem do grupo e de seus integrantes está diretamente ligada às vielas e cortiços do bairro da Vila Missionária, das suas memórias, relatos, e do desejo de criar e expandir a cultura na região através das telas do cinema.
          Temos como objetivo transmitir a experiência de como é uma produção audiovisual, incentivar a criação de novos artistas e mostrar que é sim possível, através da sétima arte, transformar a quebrada em Hollywood!
        </p>
    </div>
  <div class="contato-form">
      <h3>Entre em contato:</h3>

      <a href="https://www.instagram.com/tomadaperiferica/">
          <img class="instagram-logo" src="assets\Imagens\Logo\logo-instagram-removebg-preview.png" alt="" icon="Instagram">
      </a>
  </div>
</div>