.container_home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: black;
    max-width: auto;
    overflow: hidden;
}
  
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 800px;
}
  
.carousel-container {
    width: 1300px; /* não mexer */
    height: 600px;
    overflow: hidden;
    box-sizing: border-box;
    
}
  
.carousel-image {
    height: 750px;
    width: 400px;
    box-sizing: border-box;
}
  