<div class = container_home>

  <!-- <img class = "background_page" src = "https://images.unsplash.com/photo-1506426305266-2b7e740fd828?q=100&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"> -->

  <div class = flex>
      <div class="carousel-container">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <img class="carousel-image" src="assets\Imagens\Carousel\Poster_DezConto.jpg"></ng-template>  
            <ng-template carouselSlide>
              <img class="carousel-image" src="assets\Imagens\Carousel\Getulio_DoisConto.jpg"></ng-template>  
            <ng-template carouselSlide>
              <img class="carousel-image" src="assets\Imagens\Carousel\Franca_DoisConto.jpg"></ng-template>  
          </owl-carousel-o>
      </div>
  </div>
</div>