<div class = container_home>
  <div class = flex>
      <div class="carousel-container">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <img class="carousel-image" src="assets\Imagens\Carousel\Poster_DezConto.jpg"></ng-template>  
            <ng-template carouselSlide>
              <img class="carousel-image" src="assets\Imagens\Carousel\Getulio_DoisConto.jpg"></ng-template>  
            <ng-template carouselSlide>
              <img class="carousel-image" src="assets\Imagens\Carousel\Franca_DoisConto.jpg"></ng-template>  
          </owl-carousel-o>
      </div>
  </div>
</div>