<div class = container_home>
  <div class = flex>
      <div class="carousel-container">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <img class="carousel-image" src="imagens\background_Filmes.jpg"></ng-template>  
          <ng-template carouselSlide>
            <img class="carousel-image" src="imagens\Fundosite.jpg"></ng-template>  
          <ng-template carouselSlide>
            <img class="carousel-image" src="assets\Poster\BANNER OFICIAL.jpg"></ng-template>  
        </owl-carousel-o>
      </div>
  </div>
</div>