<div class="row-diretor">
    <div class="diretor-backround">
        <div class="container-nome-diretores">
            <h3>Bruno Maciel</h3>
        </div>
        <div class="container-diretores">
            <img class="Diretor-img" src="assets\imagens\Bruno-diretor.jpg" icon="perfil2" alt="" rel="icon" alt="" width="200" height="250">
        </div>
        <div class="container-descricao-diretores">
            <!-- <p> história </p> -->
        </div>
    </div>
    <div class="diretor-backround">
        <div class="container-nome-diretores">
            <h3>Gabriel Coelho</h3>
        </div>
        <div class="container-diretores">
            <img class="Diretor-img" src="assets\Diretores\Gabriel.jpg" icon="perfil3" alt="" rel="icon" alt="" width="200" height="250">
        </div>
        <div class="container-descricao-diretores">
            <!-- <p>História do Diretor 2</p> -->
        </div>
    </div>
    <div class="diretor-backround">
        <div class="container-nome-diretores">
            <h3>Ivete Damasceno</h3>
        </div>
        <div class="container-diretores">
            <img class="Diretor-img" src="assets\imagens\diretor3.jpg" icon="perfil2" alt="Perfil do Diretor 3" width="200" height="250">
        </div>
        <div class="container-descricao-diretores">
            <!-- <p>História do Diretor 3</p> -->
        </div>
    </div>
    <div class="diretor-backround">
        <div class="container-nome-diretores">
            <h3>Victor Brunetti</h3>
        </div>
        <div class="container-diretores">
            <img class="Diretor-img" src="assets\imagens\diretor4.jpg" icon="perfil2" alt="Perfil do Diretor 4" width="200" height="250">
        </div>
        <div class="container-descricao-diretores">
            <!-- <p>História do Diretor 4</p> -->
        </div>
    </div>
</div>