.row-diretor {
  background-color: black;
  padding-top: 300px;
  display: flex;
  justify-content: flex-start; /* alinhado à esquerda */
  padding-left: 50px; /* opcional: um pouco de espaço da borda */
}

.diretor-backround {
  width: 800px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.container-content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px; /* espaço entre os diretores */
}


.container-diretores {
  width: 240px;
  height: 250px;
  flex-shrink: 0;
}

.Diretor-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: none;
  display: block;
}

.container-info {
  flex-grow: 1;
  color: white;
  text-align: left; /* texto alinhado à esquerda */
}

.container-info h3 {
  margin-bottom: 15px;
}

.container-info p {
  font-size: 1.1rem;
  line-height: 1.4;
}
