.row-diretor{
    background-color:black;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-left: center;
    padding-top: 300px;
}

.diretor-backround{
    height: 350px;
    width: 400px;
    background-color: rgba(144, 1, 1, 0.734);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

}

.container-nome-diretores{
    height: 25px;
    width: 100%;
    color:#fff;
    text-align: center;
}

.container-nome-diretores h3{
    margin: 0;
}

.container-diretores{
    margin-top: 20px;
}

.container-descricao-diretores{
    color:#fff;
    margin-top: 20px;
    text-align: center;
}

.Diretor-img{
    background-color: white;
    border-radius: 20px;
    height: 250px;
    width: 240px;
}