<body>
  <header class="header">

    <a href="http://localhost:4200/home" class="logo">
      <img class="header-logo img" src="assets\Imagens\Logo\Logo.png" alt="" rel="icon" alt="" width="120"
        height="120" />
    </a>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
      <i class='bx bx-menu' id="menu-icon"></i>
      <i class='bx bx-x' id="close-icon" ></i>
    </label>

    <nav class="navbar">

      <nav class="navbar">
        <a [routerLink]="['/diretores']" routerLinkActive="active" style="--i:0;">Diretores</a>
        <a [routerLink]="['/filmes']" routerLinkActive="active" style="--i:1;">Filmes</a>
        <a [routerLink]="['/entretenimento']" routerLinkActive="active" style="--i:2;">Entretenimento</a>
        <a [routerLink]="['/publicidade']" routerLinkActive="active" style="--i:3;">Publicidade</a>
        <a [routerLink]="['/contato']" routerLinkActive="active" style="--i:4;">Contato</a>
      </nav>
      
      <div class="btn-contato">
        <a href="https://www.youtube.com/c/TomadaPeriférica"><img class="Youtubelogo"
            src="assets\Imagens\Logo\logo_youtube_branco-removebg-preview.png" alt="" rel="icon" alt="" width="80"
            height="165"></a>
      </div>
    </nav>
  </header>
</body>