
<header id="header">
  <div class="container">
    <div class="flex">
      <a href="http://localhost:4200/home"><img class="header-logo img" src="/assets/Logo/Logo.png" alt="" rel="icon" alt="" width="120" height="120" /></a>
       <nav>
          <ul>
            <li><a [routerLink]="['/diretores']">Diretores</a></li>
            <li><a [routerLink]="['/filmes']">Filmes</a></li>
            <li><a [routerLink]="['/entretenimento']">Entretenimento</a></li>
            <li><a [routerLink]="['/publicidade']">Publicidade</a></li>
            <li><a [routerLink]="['/contato']">Contato</a></li>
            </ul>
        </nav>
        <div class="btn-contato">
          <a href="https://www.youtube.com/c/TomadaPeriférica"><img class="Youtubelogo" src="assets\Logo\logo_youtube_branco-removebg-preview.png" alt="" rel="icon" alt="" width="80" height="165"></a>
        </div>
       </div>
  </div>
  </header>

 
<script src="menu.js"></script>




