<div class="row-filme">
        <div class="container-filmes">
            <div class="poster-filme">
                <a href="https://www.youtube.com/watch?v=QUg4W0SUsZY">
                    <img class="poster10Conto" src="assets\Imagens\Poster\BANNER OFICIAL.jpg" alt="" rel="icon" alt="" width="350" height="310">
                </a>
                
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <a href="https://www.youtube.com/watch?v=OSXAd_1TYs4&t=3918s">
                    <img class="poster10Conto" src="assets\Imagens\Poster\Poster_DoisConto.jpg" alt="" rel="icon" alt="" width="350" height="310">                       
                </a>
                
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\bosque.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Imagens\Poster\repro.png" alt="" rel="icon" alt="" width="350" height="310">
            </div>
            <!-- <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div> -->
        </div>
        
</div>

