.row-filme {
    background-color: black;
    padding: 50px;
    padding-top: 300px;
    display: flex;
    flex-direction: column;  /* filmes em coluna */
    gap: 20px;
    align-items: flex-start; /* alinhamento à esquerda */
    width: 100%;             /* ocupa toda a largura */
    box-sizing: border-box;
  }
  
  .container-filmes {
    display: flex;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 800px;    /* largura fixa */
    height: 310px;   /* altura da imagem */
    align-items: center;
    gap: 30px;
  }
  
  .poster-filme {
    flex-shrink: 0;
    width: 350px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .poster10Conto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .info-filme {
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  
  .info-filme h3 {
    margin: 0 0 15px 0;
    font-size: 1.5rem;
  }
  
  .info-filme p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0;
    padding: 0 10px 0 0;
  }
  