<div class="row-filme">

    <div class="container-filmes">
      <div class="poster-filme">
        <a href="https://www.youtube.com/watch?v=QUg4W0SUsZY">
          <img class="poster10Conto" src="assets/Imagens/Poster/BANNER OFICIAL.jpg" alt="BANNER OFICIAL" width="150" height="220">
        </a>
      </div>
      <div class="info-filme">
        <h3>Dez Conto</h3>
        <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo. Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder...</p>
      </div>
    </div>
  
    <div class="container-filmes">
      <div class="poster-filme">
        <a href="https://www.youtube.com/watch?v=OSXAd_1TYs4&t=3918s">
          <img class="poster10Conto" src="assets/Imagens/Poster/Poster_DoisConto.jpg" alt="Poster Dois Conto" width="150" height="220">
        </a>
      </div>
      <div class="info-filme">
        <h3>Dois Conto</h3>
        <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo. Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder...</p>
      </div>
    </div>
  
    <!-- Repita o bloco .container-filmes para os demais filmes -->
  
  </div>
  