<div class="row-filme">
    <div class="filme-background">
        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Poster\BANNER OFICIAL.jpg" alt="" rel="icon" alt="" width="700" height="500">
            </div>
            <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div>
        </div>

        <br>
        <br>

        <div class="container-filmes">
            <div class="poster-filme">
                <img class="poster10Conto" src="assets\Poster\BANNER OFICIAL.jpg" alt="" rel="icon" alt="" width="700" height="500">
            </div>
            <div class="sinopse">
                <p>Na Missionária a vida é bem simples, ou você paga, cobra, ou continua devendo.
                    Produzido pelo grupo Tomada Periférica o curta-metragem nos apresenta um cenário repleto de lutas, traições, disputas por poder. 
                    Ambientado no bairro de Vila Missionária, no extremo sul de São Paulo, traz como enredo o conflito em torno de uma dívida de R$10,00, e que acaba se tornando uma disputa sem precedentes. Com cenas e mais cenas de lutas, “DEZ CONTO” revela a história de uma grande confusão em que três traficantes que devem um ao outro, fazendo com que tudo acabe virando uma grande bola de neve.
                </p>
            </div>
        </div>


    </div>




</div>

